body {
  margin: 0;
  padding: 2rem 3rem;
  background-color: rgb(250, 227, 16);
  font-size: 1.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  user-select: none;
}

#generated {
  visibility: hidden;
  max-width: 1200px;
  margin: 0 auto;

  &.visible {
    visibility: visible;
  }
}

p span {
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &::before {
    content: ' ';
  }

  &#title {
    text-transform: uppercase;
  }
}

#buttons {
  position: absolute;
  right: 20px;
  bottom: 10px;

  .icon-button {
    display: block;
    float: right;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    line-height: 0;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.5);
    }

    img, svg {
      width: 40px;
      height: 40px;
    }
  }

  &.hidden {
    display: none;
  }
}