body {
  margin: 0;
  padding: 2rem 3rem;
  background-color: rgb(250, 227, 16);
  font-size: 1.3rem;
  user-select: none;
  transition: all 0.2s;

  &.light {
    color: white;

    #buttons img {
      filter: invert(100%);
    }
  }
}

#logo {
  float: right;
  margin-top: -130px;
  margin-right: 50px;
  max-width: 200px;
  line-height: 0;
  text-align: center;
  position: relative;
  text-align: center;

  .image {
    display: inline-block;
    border-radius: 50%;
    border: 10px rgba(255, 255, 255, 0.25) solid;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    img {
      width: 80px;
      height: 80px;
      display: inline-block;
      transition: all 0.5s;
    }
  }

  span {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    line-height: 28px;
    font-weight: bold;
    font-family: 'Bebas Neue';
    font-size: 28px;
    cursor: pointer;
  }
}

#generated {
  visibility: hidden;
  max-width: 1200px;
  margin: 0 auto;

  &.visible {
    visibility: visible;
  }
}

p span {
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &::before {
    content: ' ';
  }

  &#title {
    text-transform: uppercase;
  }
}

#buttons {
  position: absolute;
  right: 20px;
  bottom: 10px;

  .icon-button {
    display: block;
    float: left;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    line-height: 0;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.5);
    }

    img, svg {
      width: 40px;
      height: 40px;
    }
  }

  &.hidden {
    display: none;
  }
}